/* Task 3 */
.gallery_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery_item {
  display: flex;
  list-style: none;
}

.gallery_item:not(:last-child) {
  margin-bottom: 10px;
}

/* Task 6 */
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
